<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/angular.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl" >
    登录名:<input type="text" class="form-control col-md-5" ng-model="companyUserLoginName" required minlength="2" maxlength="14" name="shopFn" placeholder="2~14个字符(支持数字/字母/中文)" ng-pattern="/^[A-Za-z0-9\u4E00-\u9FA5-]{2,14}$/">
    <button ng-click="getName()" >按钮</button>

</body>
</html>
<script>
    var  myapp=angular.module('myapp',[]);
    myapp.controller('myctrl', function ($scope) {
        $scope.getName= function () {

            console.log($scope.companyUserLoginName);
        }




    })


</script>