<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/jquery.js" ></script>
    <script src="js/tether.js" ></script>
    <script src="js/bootstrap.js" ></script>
    <script src="js/angular.js" ></script>

</head>
<body ng-app="myapp" ng-controller="myctrl" >
<ul class="nav nav-tabs" >
    <li class="nav-item">
        <a href="#defEdu" ng-click="saveType('educate')" class="nav-link" data-toggle="tab">国防教育</a>
    </li>
    <li class="nav-item">
        <a href="#milWor" ng-click="saveType('work')" class="nav-link" data-toggle="tab">兵役共作</a>
    </li>
    <li class="nav-item">
        <a href="#milReg" ng-click="saveType('register')" class="nav-link" data-toggle="tab">兵役登记</a>
    </li>
</ul>
<div class="tab-content" style="border:0;">
    <div class="container-fluid tab-pane active" id="defEdu" style="padding-left:0;padding-right:0;">
        <div class="contentArea_ym">
            <table class="table">
                <thead>
                <tr class="text-center">
                    <th class="text-center">标题</th>
                    <th class="text-center hidden-md-down ">浏览量</th>
                    <th class="text-center hidden-md-down rotate_ym">
                        <i class="fa fa-arrow-up"></i>
                        <span>上传时间</span>
                    </th>
                    <th class="text-center">作者</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" >
                    <td class="hidden-md-down" >国防教育</td>
                    <td class="hidden-md-down"></td>
                    <td class="hidden-md-down" ></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid tab-pane " id="milWor" style="padding-left:0;padding-right:0;">
        <div class="contentArea_ym">
            <table class="table">
                <thead>
                <tr class="text-center">
                    <th class="text-center">标题</th>
                    <th class="text-center hidden-md-down ">浏览量</th>
                    <th class="text-center hidden-md-down rotate_ym">
                        <i class="fa fa-arrow-up"></i>
                        <span>上传时间</span>
                    </th>
                    <th class="text-center">作者</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" >
                    <td class="hidden-md-down" >兵役共作</td>
                    <td class="hidden-md-down"></td>
                    <td class="hidden-md-down" ></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid tab-pane " id="milReg" style="padding-left:0;padding-right:0;">
        <div class="contentArea_ym">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th class="text-center">标题</th>
                        <th class="text-center hidden-md-down ">浏览量</th>
                        <th class="text-center hidden-md-down rotate_ym">
                            <i class="fa fa-arrow-up"></i>
                            <span>上传时间</span>
                        </th>
                        <th class="text-center">作者</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" >
                        <td class="hidden-md-down" >兵役登记</td>
                        <td class="hidden-md-down"></td>
                        <td class="hidden-md-down" ></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>
<script>
    var myapp=angular.module('myapp',[]);
    myapp.controller('myctrl', function ($scope) {
        $scope.saveType= function (type) {
            console.log(type);
        }
    })


</script>