<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/jquery.js" ></script>
    <script src="js/tether.js" ></script>
    <script src="js/bootstrap.js" ></script>




</head>
<body>
<div class="container-fluid">

    <ul class="nav nav-tabs nav-stacked nav-dropdown-items col-xs-3 col-sm-3 col-md-3" style="background-color: cyan;" >
        <li class="nav-item"><a href="#" class="nav-link " style="line-height:50px;padding-top:0;padding-bottom:0; color:black;background-color: #B8C0C9;">社区政务</a></li>
        <li class="nav-item"><a href="#街道概况" class="nav-link " data-toggle="tab" style="color:black;line-height:40px;padding-top:0;padding-bottom:0; " >街道概况</a></li>
        <li class="nav-item"><a href="#办公职能" class="nav-link "  data-toggle="tab" style="color:black;line-height:40px;padding-top:0;padding-bottom:0; " >办公职能</a></li>
        <li class="nav-item"><a href="#" class="nav-link "  data-toggle="tab" style="color:black;line-height:40px;padding-top:0;padding-bottom:0; ">居委信息</a></li>
        <li class="nav-item"><a href="#" class="nav-link "  data-toggle="tab" style="color:black;line-height:40px;padding-top:0;padding-bottom:0; ">街道特色</a></li>
        <li class="nav-item"><a href="#" class="nav-link "  data-toggle="tab" style="color:black;line-height:40px;padding-top:0;padding-bottom:0; ">社情民意</a></li>
        <li class="nav-item"><a href="#" class="nav-link "  data-toggle="tab" style="color:black;line-height:40px;padding-top:0;padding-bottom:0; ">兵役共作</a></li>
        <li class="nav-item"><a href="#" class="nav-link "  data-toggle="tab" style="color:black;line-height:40px;padding-top:0;padding-bottom:0; ">满意测评</a></li>
    </ul>
    <div class="col-md-9 tab-content" style="background-color: yellow;" >
        <div class="tab-pane" id="街道概况" style="margin-top:15px;margin-left:30px;padding-left:0">
            <div >
                <div class="content">
                <div class="container-fluid " style="padding-left:0;margin-top:15px;">
                    <div class="contentArea_ym">
                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th class="text-center">标题</th>
                                <th class="text-center hidden-md-down ">浏览量</th>
                                <th class="text-center hidden-md-down rotate_ym">
                                    <i class="fa fa-arrow-up"></i>
                                    <span>上传时间</span>
                                </th>
                                <th class="text-center">作者</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" ng-repeat="x in originDataBase" >
                                <td class="hidden-md-down" >{{x.title}}</td>
                                <td class="hidden-md-down">2625</td>
                                <td class="hidden-md-down" >{{x.createDate}}</td>
                                <td>{{x.author}}</td>
                                <td ng-if="x.title" ng-init="newId=x.id;obj=x">
                                    <button type="button" ng-click="saveInfo(obj)" data-toggle="modal" data-target="#firstPageCircleEdit_ym" class="btn btn-info btnedit">
                                        <i class="fa fa-edit "></i>
                                    </button>
                                    <button type="button" ng-click="saveId(newId)" class="btn btn-danger" data-target="#bannDele_ym" data-toggle="modal" >
                                        <i class="fa fa-trash-o "></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="tab-pane"  id="办公职能" style="margin-top:15px;margin-left:30px;padding-left:0">
            <div class="content">
            <div class="container-fluid " style="padding-left:0;margin-top:15px;">
                    <div class="contentArea_ym">
                        <table class="table">
                            <thead>
                            <tr class="text-center">
                                <th class="text-center">标题</th>
                                <th class="text-center hidden-md-down ">浏览量</th>
                                <th class="text-center hidden-md-down rotate_ym">
                                    <i class="fa fa-arrow-up"></i>
                                    <span>上传时间</span>
                                </th>
                                <th class="text-center">作者</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center" ng-repeat="x in originDataBase" >
                                <td class="hidden-md-down" >{{x.title}}</td>
                                <td class="hidden-md-down">2625</td>
                                <td class="hidden-md-down" >{{x.createDate}}</td>
                                <td>{{x.author}}</td>
                                <td ng-if="x.title" ng-init="newId=x.id;obj=x">
                                    <button type="button" ng-click="saveInfo(obj)" data-toggle="modal" data-target="#firstPageCircleEdit_ym" class="btn btn-info btnedit">
                                        <i class="fa fa-edit "></i>
                                    </button>
                                    <button type="button" ng-click="saveId(newId)" class="btn btn-danger" data-target="#bannDele_ym" data-toggle="modal" >
                                        <i class="fa fa-trash-o "></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

</div>
        </div>
    </div>


</body>
</html>